.menu-container {
    width: 100%;
}
.mainResourceContainer {
    display: inline-block;
}
.objectButton {
    width: 100px;
    vertical-align: top;
    background: none;
    border: 1px solid black;
    padding: 8px 10px;
    outline: none;
}
.objectPrice {
    width: 100px;
    display: inline-block;
    margin-left: 10px;
}
.objectNum {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}
.objectSpeed {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}
.objectLabel, .speedLabel, .numLabel, .costLabel {
    width: 100px;
    display: inline-block;
}
#autobuyerLabel, #autobuyerCostLabel {
    width: 110px;
}
.costLabel {
    margin-left: 25px;
}
.topLabel {
    margin: 10px 0;
    border-bottom: 1px solid black;
}
.autobuyerContainer {
    vertical-align: top;
    width: 110px;
    display: inline-block;
}
.objectAutobuyerPrice {
    vertical-align: top;
    width: 110px;
    display: inline-block;
}
.objectContainer {
    padding: 15px;
    border: solid black 2px;
    border-radius: 4px;
    margin: 5px 0;
}

#upgradeContainer {
    display: inline-block;
    vertical-align: top;
    max-width: 400px;
    margin: 0 20px;
}
#upgradeContainer .upgradeButtonContainer button {

}
#upgradeContainer div {
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    margin: 5px 0;
    width: 93%;
}
#upgradeContainer div h1 {
    margin: 0;
    font-size: 20px;
}
#upgradeContainer div h2 {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}
#upgradeContainer div p {
    margin: 0;
}
#upgradeContainer button {
    display: block;
}


/*MOBILE STYLES*/
@media only screen and (max-width: 700px) {
    .objectButton {
        display: block;
        margin: 0 auto;
    }
    .objectPrice, .objectNum, .objectSpeed {
        display: block;
        margin: 5px auto;
        text-align: center;
    }
    .autobuyer-box {
        display: inline-block;
        border: 1px solid grey;
        padding: 10px;
    }
    .autobuyerContainer, .objectAutobuyerPrice {
        width: auto;
    }
    .objectContainer {
        text-align: center;
    }
    .topLabel {
        display: none;
    }
    .mainResourceContainer {
        width: 100%;
    }
}